* {
    margin: 0px;
    padding: 0px;
}

.w {
    width: 1200px;
    margin: auto;
}

body {
    background-color: #f3f5f7;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    height: 42px;
    margin: 30px auto;
    /* background-color: red; */
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
   border-bottom: 2px solid #00a4ff;
   color: #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    /* background-color: skyblue; */
    margin-left: 50px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid skyblue;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    border: 0px;
    background: url(images/btn.png);
}

.user { 
    float: right;
    height: 42px;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
}

.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .w {
    height: 420px;
    background: url(images/banner.png);
}

.banner .w .subnav {
    float: left;
    width: 190px;
    height: 420px;
    background: rgba(0, 0, 0, 0.3);
}

.banner .w .subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0px 20px;
    /* padding-left: 20x; */
    /* padding-right: 20x; */
}
.banner .w .subnav ul li a {
    color: white;
    text-decoration: none;
}
.banner .w .subnav ul li a span{
    float: right;
}

.banner .w .subnav ul li a:hover {
    color: blue;
}

.banner .w .course {
    height: 300px;
    width: 230px;
    background-color: #fff;
    margin-top: 50px;
    float: right;
}

.banner .w .course h2 {
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #9bceea;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
}

.banner .w .course .bd {
    padding: 0 18px;
    /* background-color: blue; */
}

.banner .w .course .bd ul li{
    padding: 13px 0px;
    border-bottom: 1px solid #ccc;
}

.banner .w .course .bd ul li h4{
    font-size: 16px;
    color: #4e4e4e;    
}

.banner .w .course .bd .more{
    display: block;
    height: 33px;
    border: 1px solid #00a4ff; 
    margin-top: 5px;
    text-align: center;
    line-height: 33px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
}

.goods {
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0 2px 3px 3px rgba(0,0,0, 0.1);
}

.goods h3{
    float: left;
    margin-left: 30px;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;
}  

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.goods .mod {
    float: right;
    font-size: 14px;
    margin-right: 30px;
    color: #00a4ff;
}

.box {
    margin-top: 30px;
}

.box .hd {
    height: 45px;   
}

.box .hd h3{
    float: left;
    font-size: 20px;
    color: #494949;
}

.box .hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}

.box .bd ul {
    width: 1225px;
    /* height: 20px; */
    /* background-color: red; */
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/* IE6 7专属 */
.clearfix {
    *zoom: 1;
}


.box .bd ul li {
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}

.box .bd ul li img {
    width: 100%;
}

.box .bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.box .bd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.box .bd .info span {
    color: #ff7c2d;
}

.footer {
    height: 215px;
    background-color: #fff;
}

.footer .w {
    padding-top: 35px;
}

.footer .w .copyright {
    float: left;
}

.footer .w .copyright p {
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}

.footer .w .copyright .app {
    display: block;
    width: 118px;
    height: 33px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 33px;
    color: #00a4ff;
    font-size: 16px;
}

.footer .w .links {
    float: right;
}

.footer .w .links dl {
    float: left;
    margin-left: 100px;
}

.footer .w .links dl dt {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.footer .w .links dl dd a {
    color: #333;
    font-size: 12px;
}